/*@import "tailwindcss";*/

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
	display: flex;
	align-items: center;
	line-height: 1.3;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
}

article h3 {
	font-size: 1.375rem;
}

article p {
	font-size: 16px;
	margin-top: 1em;
	margin-bottom: 1em;
}

article code {
	font-family:
		Consolas,
		Monaco,
		Andale Mono,
		Ubuntu Mono,
		monospace;
	font-feature-settings: normal;
	background: #eaeaea;
	padding: 1px 6px;
	margin: 0 2px;
	border-radius: 5px;
	font-size: 0.95rem;
}

article ul,
article ol,
article menu {
	margin-left: 40px;
	padding: 0;
	display: block;
	list-style-type: decimal;
	margin-block-start: 1em;
	margin-block-end: 1em;
	padding-inline-start: 40px;
	unicode-bidi: isolate;
}

article a {
	text-decoration: underline;
}

article blockquote {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 40px;
	margin-inline-end: 40px;
	unicode-bidi: isolate;
	border-left: 2px solid;
	margin: 40px;
	padding: 10px 20px;
}

article pre {
	background-color: #f3f4f6; /* gray-100 */
	padding: 1em;
	border-radius: 0.375rem; /* 6px */
	overflow-x: auto;
	margin: 1em 0;
	code {
		background-color: transparent;
		padding: 0;
		border-radius: 0;
	}
}
