---
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
  keywords?: string;
}

const { title, description = "Hi, i'm Jimmy", keywords } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Jimmy Verburgt" />
    <link rel="canonical" href="https://jimmyverburgt.com/" />
    <meta name="description" content={description} />
    {keywords && <meta name="keywords" content={keywords} />}
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
    <title>{title}</title>
  </head>
  <body class="w-full flex flex-col font-mono text-[#222]">
    <div class="flex flex-col min-h-screen">
      <header class="w-full">
        <nav
          class="w-full px-[5%] md:px-[15%] lg:px-[20%] py-5 flex flex-row justify-between"
        >
          <a
            href="/"
            class="font-bold hover:underline hover:cursor-pointer font-pixel"
          >
            Jimmy Verburgt
          </a>
          <div class="flex gap-5">
            <a
              href="/blog"
              class="opacity-75 hover:underline hover:cursor-pointer"
            >
              Blog
            </a>
            <a
              href="mailto:jimmyverburgt@gmail.com"
              class="opacity-75 hover:underline hover:cursor-pointer hidden sm:inline-block"
            >
              jimmyverburgt@gmail.com
            </a>
          </div>
        </nav>
      </header>

      <slot />
    </div>

    <slot name="below" />
  </body>
</html>
